.check-ok {
    color: lime;
  }
   
  input:invalid ~ .check-ok {
    display: none;
  }
   
  input:valid ~ .check-ok {
    display: inline;
  }
  input:valid {
    background-color: #BBFFF0;
  }
  